@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    ViewData["Controller"] = "alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>


<strong>Desde la vista parcial</strong>

<partial name="SimpleListObjetoEscuelaBase"/>

<p><i>@ViewBag.Date</i></p>