@model List<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>


<strong>Desde la vista parcial</strong>

<table>
    <thead class="table table-dark table-hover">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alumno in @Model)
        {
            <tr>
                <td>@alumno.UniqueId</td>
                <td>@alumno.Nombre</td>
            </tr>
        }
    </tbody>
</table>

<p><i>@ViewBag.Date</i></p>