@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
    ViewData["Controller"] = "curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>


<strong>Desde la vista parcial</strong>

<partial name="SimpleListObjetoEscuelaBase"/>

<p><i>@ViewBag.Date</i></p>